// Custom Settings
// ---
//
// Override the default foundation-emails styles here.
//
// It's best - and often easiest - to accomplish your needs by overriding the
// many foundation-emails settings. That said, this file can be used to add
// additional styles that the settings don't accommodate. (Hint: you may find
// youself needing to use !important.)
//
// @see https://get.foundation/emails/docs/

// The following overrides are just an example. Do with them as you wish.
// @see https://gist.github.com/aamyot/f8d323600efd4d220e7a302ec1697c87

.container {
  width: 100% !important;
  max-width: $global-width !important;
}

.order-details {
  width: 175px !important;
}

.header .container,
.footer .container {
  .columns {
    padding-left: 0;
    padding-right: 0;
  }
}

h4 {
  a {
    text-decoration: underline;
  }
}

a {
  font-family: inherit;
}

.social {
  img {
    height: 33px;
  }
}

.legal {
  font-size: 8px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.5px;
  line-height: 16px;
  text-transform: uppercase;
}

// The following overrides are just an example. They were pulled from the Custom
// Styles field defaults in Contentful. Do with them as you wish.

.body {
  background-color: #345e9e !important;
}

h3,
h4,
p,
a,
span {
  color: #0a0a0a !important;
}

.container {
  background-color: #fefefe !important;
}

.main,
.main .container {
  background-color: #fefefe !important;
}

.body {
  background-color: #345e9e;
}

h3,
h4,
p,
a,
span {
  color: #0a0a0a !important;
}

a {
  font-weight: bold !important;
}

.button {
  background: #3a5dae;
  color: #fff !important;
  padding: 12px 24px;
  border-radius: 6px;
  width: 100%;
}

.main,
.main .container {
  background-color: #fefefe !important;
}

h3 {
  font-size: 24px !important;
}

h4 {
  font-size: 22px !important;
}

body,
table.body,
p,
td,
th {
  font-size: 14px !important;
}

.main p,
.main .container p,
.footer a.text-black,
.text-blac {
  color: #0a0a0a !important;
}

.main h4,
.main .container h4 {
  color: #345e9e;
}

.button {
  background: #345e9d;
  color: #fff !important;
  padding: 12px 24px;
  border-radius: 6px;
  width: 100%;
}

.marginals {
  background-color: #f5f4f7 !important;
}

.header th.columns {
  padding-bottom: 0;
}

.columns {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.logo {
  height: 28px;
}

.line-item-row {
  padding-bottom: 12px;
}

.img-thumbnail {
  margin: 0 auto;
}

.order-summary-columns {
  padding-bottom: 0 !important;
}

.shipping-columns p {
  margin-bottom: 0px;
}

.footer-top {
  margin-top: 16px !important;
}

.footer th.columns {
  padding-bottom: 0;
}

.footer hr {
  border: 1px solid #345e9e;
  border-bottom: none;
}

.footer h3 {
  color: #345e9e !important;
  font-size: 16px !important;
}

.footer h4 {
  font-size: 12px !important;
  color: #767476 !important;
}

.footer a {
  font-size: 12px;
  font-weight: normal !important;
  color: #767476 !important;
}
