<wrapper class="footer">
  <container class="marginals">
    <row class="footer-top">
      <columns>
        <spacer size="12"></spacer>
        <h3 class="">Holistic Sleep Solution Grounded In Science</h3>
        <spacer size="12"></spacer>
        <h4 class="">
          Questions? Comments? Just want to say hi? <br />
            Don’t hesitate to send us an email at <a class="text-black" href="mailto:care@getproper.com"><strong>care@getproper.com</strong></a>. We're human, promise.
        </h4>
      </columns>
    </row>
 
    <row>
      <columns>
          <div class="legal">
            <span>
              <a href="https://your.site.com/privacy-policy">
                Facebook
              </a>
            </span>
            <span>&nbsp;-&nbsp;</span>
            <span>
              <a href="https://your.site.com/terms">
                Twitter
              </a>
            </span>
            <span>&nbsp;-&nbsp;</span>
            <span>
              <a href="https://your.site.com/privacy-policy">
                Instagram
              </a>
            </span>
      </div>
  </columns>
 </row>
 
    <row>
      <columns>
          <div class="legal">
            <span>
              <a href="https://your.site.com/privacy-policy">Privacy Policy</a>
            </span>
            <span>&nbsp;-&nbsp;</span>
            <span>
              <a href="https://your.site.com/terms">Terms of Use</a>
            </span>
            <span>&nbsp;-&nbsp;</span>
            <span>&copy; 2022</span>
      </div>
        <spacer size="24"></spacer>
  </columns>
 </row>
  </container>
 </wrapper>
 